.card {
    padding: 20px;

    width: 300px;

    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: wheat;
}

.card > img {
    width: 300px;
}

.list {

    padding: 30px;
}

.list-container {


}

.cards {

    display: flex;
    flex-wrap: wrap;

}