.home-container  {
    background: url(./resources/Slide_1.jpg);
    background-size: cover;
    height: 500px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;

}

.main-text {

    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}




