.navbar {
    height: 100px;
    width: 100%;
    background-color: #081621;
    
}

.nav-menu{
    background-color: wheat;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 80%;

    position: absolute;
    left: -100%;
    transition: all 0.6s ease;

}

.nav-menu.active {
    left: 0;
    
    transition: all 0.6s ease;
    z-index: 1;
    
}

.bar {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.menu-icon {
    color: white;
    font-size: 20px;
    margin: 20px;
}

.logo {
    width: 100px;
    
}

.right-div {
    color: white;
    font-size: 20px;
    margin: 20px;
    width: 70px;
    display: flex;
    justify-content: space-between;

}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.search-section {

    width: 100%;
    display: flex;
    justify-content: center;

    position: absolute;
    top: -50px;
    transition: all 0.6s ease;

}

.search-section.search-active {
    top: 100px;
    
    transition: all 0.6s ease;

}

.search-container {
    display: flex;
    width: 80%;
}

.search-container > input{
    width: 80%;
    height: 30px;
}

.search-button {
    background-color: wheat;
    width: 70px;
    height: 35px;
    text-align: center;

}